{% extends 'base_portal.html' %}
{% load static %}

{% block content %}

<!-- Begin Page Content -->
 <!-- Begin Page Content -->
 <div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Tables</h1>
  <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>

 
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
      <!--right here-->
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Name</th>
              <th>Role</th>
              <th>Skillset</th>
              <th>DevPost</th>
              <th>GitHub</th>
              <th>LinkedIn</th>
              <th>Profile</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Skillset</th>
                <th>DevPost</th>
                <th>GitHub</th>
                <th>LinkedIn</th>
                <th>Profile</th>
              </tr>
          </tfoot>
          <tbody>
            {% for participant in participants %}
            <tr>
              <td>{{ participant.first_name }} {{ participant.last_name }}</td>
              <td>{{ participant.profile.tags }}</td>
              <td>{{ participant.profile.skillset }}</td>
              <td><a href="https://devpost.com/{{ participant.profile.devpost }}" target="_blank">{{ participant.profile.devpost }}</a></td>
              <td><a href="https://github.com/{{ participant.profile.github }}" target="_blank">{{ participant.profile.github }}</a></td>
              <td>{{ participant.profile.linkedin }}</td>
              
              <td>
                <!-- Button trigger modal-->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCart">Show Profile</button>
                
                <!-- Modal: modalCart -->
                <div class="modal fade" id="modalCart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <!--Header-->
                      <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Hacker Man Profile</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true"></span>
                        </button>
                      </div>
                      <!--Body-->
                      <div class="modal-body border-bottom-primary">
                        <div class = "card-body">
                            <span class="text"> {{ participant.first_name }}</span>
                            <!-- ###### -->
                        </div>
                        <!--Body ends-->
                      </div>
                      <!--Footer-->
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END Modal: modalCart -->
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->

{% endblock %}